#root {
  display: grid;
  place-content: center;
}
#drum-machine {
    display: flex;
}
.grid {
  width: 50%;
}
.grid > * {
    float: left;
}
.grid > * + * {
    margin-inline-start: 1em;
}

.drum-pad {
  padding: 1em;
}

.toggle {
  appearance: none;
  width: 60px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
}

.toggle::before {
  content: "";
  width: 3.5em;
  height: 1.85em;
  background-color: grey;
  margin-inline-end: 0.5em;
  border-radius: 3em;
}

.toggle::after {
  position: absolute;
  content: "";
  width: 1.35em;
  height: 1.35em;
  background-color: white;
  border-radius: 3em;
  left: 0.25em;
}

.toggle:checked::after {
  transform: translateX(100%) translateX(-0.05em);
}

.toggle:focus-visible::before {
  outline: 2.5px solid black;
}

#display {
    background-color: grey;
    text-align: center;
}
.container > * + * {
    margin-block-start: 1em;
}
